body,
html {
 overflow-x: hidden !important;
}

.two-factor-input {
 font-family: Arial, sans-serif;
 width: 2.25rem;
 height: 2.25rem;
 text-align: center;
 font-size: 1.25rem;
 border: none;
 padding: 0.5rem;
 box-shadow: 1px 2px 2px lightgrey;
 color: transparent;
 text-shadow: 0 0 0 #000;
 margin-right: 2px;
}

#twoFactorModal .modal-content {
 background: rgba(0, 0, 0, 0.5);
 width: 350px;
}

.modal-content {
 background: #f2f2f2;
 height: auto;
 margin: auto;
}

.two-factor-input::-moz-selection {
 /* Code for Firefox */
 background: transparent;
}

.two-factor-input::selection {
 background: transparent;
}

#password_message {
 color: #6b6b6b;
}

.right-inner-addon {
 position: relative;
}
.right-inner-addon input {
 padding-right: 35px !important;
}
.right-inner-addon i {
 position: absolute;
 right: 0px;
 padding: 17px 12px;
 color: #6b6b6b;
}

.left-inner-addon {
 position: relative;
}
.left-inner-addon input {
 padding-left: 35px !important;
}
.left-inner-addon i {
 position: absolute;
 padding: 12px 12px;
 pointer-events: none;
}

.alt i {
 position: absolute;
 right: 0px;
 padding: 12px 12px;
}

nav {
 box-shadow: 2px 2px 15px black;
}

/* This is to remove the arrow of select element in IE */
select::-ms-expand {
 display: none;
}

select {
 -webkit-appearance: none;
 appearance: none;
 height: 3rem !important;
}

#email_message_container,
#name_message_container,
#password_message_container,
#phone_message_container {
 display: none;
}

.form-control {
 box-shadow: 1px 1px 4px silver !important;
}

.error {
 color: red;
}

.profile-photo {
 position: relative;
 border: 2px solid #ffffff;
 border-radius: 3px;
 height: 9.375rem;
 width: 9.375rem;
 background: white;
 object-fit: cover;
}

.profile-photo-container {
 position: absolute;
 width: 9.375rem;
 height: 9.375rem;
 top: 3.1rem;
 left: 2.5rem;
}

.profile-photo-container span {
 font-family: Arial, sans-serif;
 font-weight: 400;
 color: #fff;
}

.change-profile {
 color: #fff;
 font-size: 1.125rem;
 text-align: center;
 position: absolute;
 bottom: 0;
 right: 0;
 width: 100%;
 z-index: 3;
 cursor: pointer;
 display: none;
 border-bottom: 3rem solid rgba(0, 0, 0, 0.7);
 border-left: 4rem solid transparent;
 height: auto;
 width: 0;
}

.change-profile i {
 color: #fff;
 font-size: 1.125rem;
 position: absolute;
 top: 1.5rem;
 left: -1.75rem;
 width: 100%;
 z-index: 3;
 cursor: pointer;
 height: auto;
 width: 0;
}

#uploadHeroBtn {
 color: #fff;
 font-size: 1.125rem;
 text-align: center;
 position: absolute;
 bottom: 0;
 right: 0;
 width: 100%;
 z-index: 3;
 cursor: pointer;
 display: none;
 border-bottom: 4rem solid rgba(0, 0, 0, 0.7);
 border-left: 5rem solid transparent !important;
 height: auto;
 width: 0;
}

#uploadHeroBtn i {
 color: #fff;
 font-size: 1.25rem;
 position: absolute;
 top: 2rem;
 left: -1.75rem;
 width: 100%;
 z-index: 3;
 cursor: pointer;
 height: auto;
 width: 0;
}

.profile-rounded-sm {
 height: 2rem;
 width: 2rem;
 border-radius: 0.5rem;
 margin-right: 0.5rem;
 object-fit: cover;
}

.profile-circle {
 height: 50px;
 width: 50px;
 float: left;
 margin-right: 1rem;
 border-radius: 50%;
 object-fit: cover;
 border: 1px solid black;
 box-shadow: 2px 2px 2px silver;
}

.profile-circle-sm {
 height: 2rem;
 width: 2rem;
 border-radius: 50%;
 margin-right: 0.5rem;
 object-fit: cover;
}

nav {
 position: relative;
}

.registration-cover {
 position: relative;
 background-size: cover !important;
 filter: contrast(125%);
 background-position: 0 !important;
 background: linear-gradient(
   to bottom,
   rgba(0, 0, 0, 0.1) 0%,
   rgba(255, 255, 255, 0.9) 100%
  ),
  url(../images/santorini.jpg);
 height: 75vh;
}

/* MOBILE */
@media (max-width: 768px) {
 .registration-cover {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(255, 255, 255, 0.9) 100%
   ),
   url(../images/mcwayfallssm.jpg);
  height: 100vh;
 }
 .login-cover-text {
  display: block;
 }
 .register-cover-text {
  display: none;
 }
 .post img {
  padding-left: 0;
  padding-right: 0;
 }

 .post-body {
  padding-left: 0;
  padding-right: 0;
 }
 .post-text {
  padding-left: 1rem;
  padding-right: 1rem;
 }
}

.get-started {
 word-break: break-word;
 padding: 0 1rem;
}
.registration-cover:hover {
 transition: 3s;
}

.registration-cover-text {
 position: absolute;
 color: #fff;
 text-shadow: 1px 1px 1px #000;
 left: 14rem;
 top: 5.25rem;
 word-break: break-word;
}

.login-cover {
 position: relative;
 background-size: cover !important;
 filter: contrast(125%);
 background-position: 0 !important;
 background: linear-gradient(
   to bottom,
   rgba(0, 0, 0, 0.1) 0%,
   rgba(255, 255, 255, 0.9) 100%
  ),
  url(../images/santorini.jpg);
 height: 75vh;
}

.login-cover:hover {
 transition: 3s;
}

.login-cover-text {
 position: absolute;
 color: #fff;
 text-shadow: 1px 1px 1px #000;
 left: 14rem;
 top: 5.25rem;
 word-break: break-word;
}

@media (max-width: 768px) {
 .logo-photo-container {
  display: none;
 }

 footer {
  color: #f2f2f2;
 }

 .get-started {
  display: none !important;
 }

 .change-cover {
  display: block !important;
  animation: none !important;
  opacity: 0.5 !important;
 }

 .change-profile {
  display: block !important;
  opacity: 0.5 !important;
 }

 .login-cover {
  background-size: cover !important;
  position: relative !important;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(255, 255, 255, 0.9) 100%
   ),
   url(../images/mcwayfallssm.jpg) !important;
  height: 100vh;
 }

 .login-cover-text {
  text-align: center !important;
  left: 0 !important;
  position: relative !important;
  word-break: break-word !important;
 }
 .login-form-container {
  width: 90vw !important;
  margin: auto;
 }
 .form-container {
  top: 0;
  left: 0;
  transform: none;
  height: 100%;
  width: 90vw !important;
  margin: auto;
 }
 .profile-photo {
  position: relative;
  border: 2px solid #ffffff;
  height: 7rem;
  width: 7rem;
  opacity: 0.85;
  filter: contrast(110%);
  object-fit: cover;
 }

 .profile-photo-container {
  position: absolute;
  width: 7rem;
  height: 7rem;
  top: 2.25rem;
  border-radius: 3px;
  left: 1rem;
 }
 .cover-text {
  position: absolute;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  left: 9rem !important;
  top: 2.25rem !important;
  word-break: break-word !important;
 }
 .change-cover {
  padding: 0 0.5rem 0.1rem 0rem;
  margin-bottom: 3rem;
 }
 .col2 {
  top: -3rem;
 }
}

.col2 {
 z-index: 1 !important;
 background: transparent !important;
}
.login-form-container {
 background-color: rgba(0, 0, 0, 0.9) !important;
 position: absolute;
 width: 37%;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
}

.form-container {
 background-color: rgba(0, 0, 0, 0.9) !important;
 position: absolute;
 width: 37%;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
}

.form-container .card-body {
 min-height: 30rem;
}

.post-container {
 padding: 0.85rem 0 1.15rem 0;
 background-color: rgba(255, 255, 255, 0.1) !important;
 border-radius: 0.25rem;
 position: relative;
}

.logo-photo-container {
 position: absolute;
 width: 9.375rem;
 height: 9.375rem;
 top: 4rem;
 left: 2.5rem;
}

.logo-photo {
 position: relative;
 border: 2px solid #ffffff;
 border-radius: 3px;
 height: 9.375rem;
 width: 9.375rem;
 background: white;
 object-fit: cover;
}

.cover-wrapper {
 position: relative;
 height: 20rem;
}

.cover {
 position: absolute;
 background-size: cover !important;
 left: 0px;
 bottom: 0px;
 right: 0px;
 height: 20rem;
 filter: contrast(125%);
 transition: 3s;
 background-position: 50% !important;
}

.cover:hover {
 transition: 3s;
}

.cover-text {
 position: absolute;
 color: #fff;
 /* text-shadow: 1px 1px 1px #000; */
 left: 14rem;
 top: 4.25rem;
 text-shadow: black 0px 0px 10px !important;
 word-break: break-word;
}

.change-cover {
 color: #000;
 font-size: 1.25rem;
 position: absolute;
 bottom: 5rem;
 right: 0;
 padding: 0.5rem 2rem;
 border-top-left-radius: 5px;
 z-index: 3;
 cursor: pointer;
 display: none;
 animation: pulse 1s infinite ease-in-out;
}

.change-cover span {
 font-family: Arial, sans-serif;
 font-weight: 400;
 color: white;
}

@keyframes pulse {
 0% {
  transform: scale(1.1);
 }
 50% {
  transform: scale(1);
 }
 100% {
  transform: scale(1.1);
 }
}

.btn-add {
 position: absolute;
 right: 1rem;
 bottom: 1rem;
 padding: 0.125rem 1.25rem;
 background: #f6f7f9;
 border: 1px solid #4b4f56;
 border-radius: 5px;
 cursor: pointer;
 outline: none !important;
}

.btn-add:hover {
 border: 1px solid #f6f7f9;
 color: #f6f7f9;
 background: transparent;
 cursor: pointer;
 outline: none !important;
}

.post {
 position: relative;
 margin: 1rem auto;
}

.jumbotron {
 background: transparent;
}

.profile-pic {
 height: 50px;
 width: 50px;
 position: absolute;
 margin-right: 0.7rem;
 border-radius: 50%;
 object-fit: cover;
 border: 1px solid white;
}

.comment-text {
 font-weight: 300;
}

.text-weight-light {
 font-weight: 300;
}

.bg-aliceblue {
 background: aliceblue;
}

.card-header {
 background-size: cover !important;
 background-position: center !important;
 text-shadow: black 0px 0px 10px !important;
 color: white;
 width: 100%;
 padding: 10px 20px;
 border: 1px solid white;
}

.card-header b,
.card-header span {
 top: -0.5rem;
 position: relative;
 display: inline-block;
}

.card {
 border: none;
 border-radius: 5px;
}

.post-pic {
 height: 75px;
 width: 75px;
 transform: translateY(-30px);
 display: flex;
 position: absolute;
 object-fit: cover;
 border: 1px solid silver;
}

.post-text-container {
 margin-left: 6rem;
 display: inline-block;
}

.post-text {
 font-size: 1.25rem;
 font-weight: 300;
 letter-spacing: 0.05rem;
 line-height: 1.25;
}

.comment {
 margin-left: 3.75rem;
 width: 90%;
}

#main {
 position: absolute;
 top: 4rem;
 bottom: 0;
 overflow-y: scroll;
 transform: translateX(-45%);
 left: 45%;
}

#banner {
 background: linear-gradient(
   to bottom,
   rgba(0, 0, 0, 1),
   rgba(255, 255, 255, 0.1)
  ),
  url(../profile_pics/digitalrainblue.jpg) no-repeat;
 background-size: cover;
 color: white;
 width: 100%;
 min-height: 6rem;
 top: 0;
 position: sticky;
 display: block;
 z-index: 3;
}

.textarea {
 border: 0;
 resize: none;
}

.search {
 height: 2.5rem;
 width: 100%;
 display: flex;
 border: none;
 border-radius: 50px;
 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
 font: 16px arial, sans-serif;
 background-repeat: no-repeat;
}

.search:hover,
.search:focus {
 outline: none;
 box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.comment-footer {
 display: none;
}

.btn-circle.btn-xl {
 width: 70px;
 height: 70px;
 padding: 10px 16px;
 border-radius: 35px;
 font-size: 24px;
 line-height: 1.33;
}

#settings_input {
 position: absolute;
 top: 3rem;
 right: 10rem;
}

.dropdown-menu {
 border-radius: 0 !important;
}

.post-top-icons {
 position: absolute;
 right: 15px;
 top: 15px;
 cursor: pointer;
}

@media (max-width: 768px) {
 .hide-on-mobile {
  display: none !important;
 }
}

@media (min-width: 768px) {
 .hide-on-desktop {
  display: none !important;
 }
}

.has-search .form-control {
 padding-left: 2.375rem;
}

.has-search .form-control-feedback {
 position: absolute;
 z-index: 2;
 display: block;
 width: 2.375rem;
 height: 2.375rem;
 line-height: 2.375rem;
 text-align: center;
 pointer-events: none;
 color: #aaa;
}

.user-message,
.client-message {
 overflow-wrap: break-word;
 word-wrap: break-word;
 hyphens: auto;
}
.scroll-container {
 background-color: #fff;
 padding: 0.5rem 0.5rem;
 width: 95%;
 margin: auto;
 border-radius: 0.25rem;
 height: 400px;
 overflow: scroll;
 overflow-wrap: break-word;
 word-wrap: break-word;
 hyphens: none;
 box-shadow: 0.1rem 0.1rem 0.5rem silver;
}

body.modal-open {
 overflow: hidden;
}

.online {
 height: 0.875rem;
 width: 0.875rem;
 position: relative;
 top: -2.25rem;
 left: -4.75rem;
 z-index: 2 !important;
 border-radius: 50%;
 animation-duration: 1s;
}

.offline {
 height: 0.875rem;
 width: 0.875rem;
 position: relative;
 top: -2.25rem;
 left: -4.75rem;
 z-index: 2 !important;
 border-radius: 50%;
 animation-duration: 1s;
}

.shine {
 background: #f6f7f8;
 background-image: linear-gradient(
  to right,
  #f6f7f8 0%,
  #edeef1 20%,
  #f6f7f8 40%,
  #f6f7f8 100%
 );
 background-repeat: no-repeat;
 background-size: 800px 104px;
 display: inline-block;
 position: relative;

 -webkit-animation-duration: 1s;
 -webkit-animation-fill-mode: forwards;
 -webkit-animation-iteration-count: infinite;
 -webkit-animation-name: placeholderShimmer;
 -webkit-animation-timing-function: linear;
}

box {
 height: 104px;
 width: 100px;
}

.box {
 display: inline-flex;
 flex-direction: column;
 margin-left: 25px;
 margin-top: 15px;
 vertical-align: top;
}

lines {
 height: 10px;
 margin-top: 10px;
 width: 300px;
}

photo {
 display: block !important;
 width: 325px;
 height: 100px;
 margin-top: 15px;
}

@-webkit-keyframes placeholderShimmer {
 0% {
  background-position: -468px 0;
 }

 100% {
  background-position: 468px 0;
 }
}

.image {
 height: 60px;
 width: 60px;
}

.text {
 margin-left: 20px;
}

.text-line {
 height: 10px;
 width: 230px;
 margin: 4px 0;
}
.rounded-circle {
 width: 50px;
 float: left;
}
.image-preview-container {
 padding: 1rem;
 margin: auto;
 text-align: center;
 margin: 2rem;
 background: lightgrey;
 position: relative;
 border-radius: 0.25rem;
}
#image-preview {
 position: relative;
 width: 250px;
}
#hero-preview-container {
 padding: 0;
 text-align: center;
 background: lightgrey;
 position: relative;
 border-radius: 0.25rem;
}
#hero-preview {
 position: relative;
 border: 2px solid #ffffff;
 height: 10rem;
 width: 10rem;
 background: white;
 object-fit: cover;
}

#remove-hero-preview {
 position: relative;
 display: block;
 top: 0;
 right: 0;
 z-index: 2;
}
#hero_upload_button {
 cursor: pointer;
}

#dashboard_post_content {
 padding-right: 2.5rem !important;
 background: rgba(255, 255, 255, 0.8) !important;
}

#dashboard_post_message {
 position: absolute;
 margin-left: 5.2rem;
}

.right-inner-addon {
 position: relative;
}
.right-inner-addon input {
 padding-right: 35px !important;
}
.right-inner-addon i {
 position: absolute;
 right: 0px;
 padding: 12px 12px;
 pointer-events: none;
}

.fa-images {
 z-index: 3 !important;
}

.btnBlank {
 display: block;
 width: 42px;
 height: 42px;
 margin-left: 10px;
 border: 1px solid #e6e6e6;
 background-color: #00b0ff;
 color: white !important;
 background-repeat: no-repeat;
 background-position: top 12px left 14px;
 border-radius: 50%;
}

.scroll-column {
 background-color: #fff;
 width: 100%;
 height: 100%;
 overflow: scroll;
 overflow-wrap: break-word;
 word-wrap: break-word;
 hyphens: none;
}

.card-body .container {
 word-break: break-word;
}

.img-area {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 align-items: center;
 justify-content: center;
}
.single-img {
 padding: 0 0.25rem 0 0;
}

.single-img img {
 object-fit: contain;
}

blockquote {
 font-family: Georgia, serif;
 position: relative;
 padding: 2rem;
 margin-bottom: 0rem;
 text-align: center;
}

blockquote:before {
 font-family: Georgia, serif;
 position: absolute;
 font-size: 6em;
 line-height: 1;
 top: 0;
 left: 0;
 content: '\201C';
}
blockquote:after {
 font-family: Georgia, serif;
 position: absolute;
 float: right;
 font-size: 6em;
 line-height: 1;
 right: 0;
 bottom: -0.5em;
 content: '\201D';
}
blockquote footer {
 padding: 0 2em 0 0;
 text-align: right;
}
blockquote cite:before {
 content: '\2013';
}

.image_upload_button:hover {
 cursor: pointer;
}

.image_upload_button {
 position: absolute;
 right: 2rem;
}

#personal_information_section:hover {
 opacity: 0.8;
 transition: 1s;
}

#personal_information_section {
 transition: 1s;
 position: relative;
}

#about_section {
 transition: 1s;
 position: relative;
}

#about_textarea {
 position: relative;
 display: block;
 height: 7rem;
 width: 100%;
 resize: none;
 display: none;
}

.post-image {
 max-height: 30rem;
 max-width: 100%;
}

#about_div {
 position: relative;
 display: block;
 width: 100%;
 word-wrap: break-word;
 background: transparent;
}

#about:active {
 outline: none;
}

#hero_section {
 position: relative;
}

.text-link {
 transition: 1s;
}

.text-link:hover {
 filter: contrast(150%);
 filter: brightness(150%);
 transition: 1s;
 cursor: pointer;
}

#confirm_hero {
 display: inline-block;
 width: 42px;
 height: 42px;
 margin-left: 10px;
 color: #fff;
 right: -1rem;
 bottom: -1rem;
 border: 1px solid #e6e6e6;
 background-color: #5cb85c;
 background-repeat: no-repeat;
 background-position: top 12px left 14px;
 border-radius: 50%;
 z-index: 2 !important;
}

#edit_personal_information,
#edit_about {
 position: absolute;
 right: -1rem;
 bottom: -1rem;
 color: white;
 display: none;
 z-index: 2 !important;
}

#update_personal_information,
#update_about {
 position: absolute;
 display: block;
 width: 42px;
 height: 42px;
 margin-left: 10px;
 color: #fff;
 right: -1rem;
 bottom: -1rem;
 border: 1px solid #e6e6e6;
 background-color: #5cb85c;
 background-repeat: no-repeat;
 background-position: top 12px left 14px;
 border-radius: 50%;
 z-index: 2 !important;
 display: none;
}

#update_personal_information:hover,
#update_about:hover {
 transform: scale(1.07);
 transition: 0.2s;
 background-color: #489e48;
}

#hero-image-container {
 position: relative;
 display: inline-block;
}

#hero-image-container:hover .edit {
 display: block;
}

.editable-div {
 display: inline-flex;
 margin: 0.1rem;
 padding: 0.1rem;
 min-width: 200px;
 position: relative;
}

.editable-hero-div {
 margin: 0.1rem;
 padding: 0.1rem;
 min-width: 200px;
 position: relative;
}

.custom-select-sm {
 height: 1.65rem !important;
 font-weight: light;
 font-size: 0.75rem;
 margin: 0;
 width: 150px;
 display: flex;
 flex-direction: row;
}

#hero_cite {
 font-weight: bold;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

#hero_container {
 display: none;
}

#hero_pic_upload_form {
 display: none;
}

#hero_container label {
 margin: 0;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

#hero_container div {
 padding: 0.5rem;
}

#avatar:hover {
 box-shadow: 1px 1px 0.5rem rgba(255, 255, 255, 0.5);
 transition: 1s;
}

#avatar {
 transition: 2s;
 transform: scale(1.2);
}

#relationshipStatus {
 display: none;
}

#register_message,
#login_message {
 margin-right: 7rem;
 font-size: 0.8rem;
}

.form {
 width: 340px;
 background: rgba(0, 0, 0, 0.5);
}

#login_form {
 margin: auto;
 background: rgba(0, 0, 0, 0.7);
 border-radius: 0.5rem;
}

#register_form {
 margin: auto;
 background: rgba(0, 0, 0, 0.7);
 border-radius: 0.5rem;
}

.nav-item .active {
 color: #0275d8 !important;
}

.nav-link {
 color: #5d6061;
}

.password {
 position: relative;
}

.password input {
 text-indent: 32px;
}

.password .fa-lock {
 position: absolute;
 top: 10px;
 left: 10px;
}

.btnSuccessCircle {
 display: inline-block;
 width: 42px;
 height: 42px;
 color: #fff;
 border: none;
 background-color: #5cb85c;
 background-repeat: no-repeat;
 background-position: top 12px left 14px;
 border-radius: 50%;
 z-index: 2 !important;
 transition: 1s ease-in;
}

.btnSuccessCircle:hover,
.btnDangerCircle:hover {
 transform: scale(1.05);
 transition: 1s ease-out;
 filter: brightness(80%);
}

.btnDangerCircle {
 display: inline-block;
 width: 42px;
 height: 42px;
 color: #fff;
 border: none;

 background-color: #a72020;
 background-repeat: no-repeat;
 background-position: top 12px left 14px;
 border-radius: 50%;
 z-index: 2 !important;
 transition: 1s ease-in;
}

.get-started {
 color: white !important;
 padding: 0;
}

.get-started:hover {
 color: white !important;
}

.profile_upload_button {
 cursor: pointer !important;
}

#profile-button-container {
 display: none;
}

.btn-outline-light {
 color: #fff !important;
}

.btn-outline-light:hover {
 color: #000 !important;
}

#profile-preview {
 position: relative;
 border: 2px solid #ffffff;
 height: 10rem;
 width: 10rem;
 background: white;
 object-fit: cover;
}

.settings_profile_upload_button {
 cursor: pointer;
}

cite {
 font-style: normal !important;
}

#hero_blockquote {
 font-style: italic !important;
}

.commentBtn {
 background: #0275d8;
 color: #fff;
 border-radius: 50%;
 transition: 1s;
}

.commentBtn:hover,
.commentBtn:active {
 color: #fff;
 filter: brightness(75%);
 transition: 1s;
}

.post-body {
 text-align: center;
}

.comment-container {
 margin-bottom: 0.5rem;
}

.bubble {
 padding: 0.5rem;
 margin-top: 0.5rem;
 background: aliceblue;
 border-radius: 0.5rem;
}
